body{
    background-color: #000000;
    padding: 0px 150px 150px 150px;
}

h1{
    font-family: 'Bowlby One SC', cursive;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    color: #ed17ff;
}

h2{
    font-family: 'Bowlby One SC', cursive;
    color: #00ffff;
    font-size: 30px;
}

span{
    font-style: italic;
}

article {
    font-family:'Playfair Display', serif;
    color: #ffffff;
    padding: 15px 0px 25px 0px;
  }

  li {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    text-align: center;
  }

  nav {
      text-align: center;
      margin: 20px 0px 0px 0px;
  }

  a{
      color: #ffff00;
  }

  .logo img{
      margin: 5px 275px 10px 275px;
  }